@model AboutDetailVM
@{
    ViewData["Title"] = "Index";
}

<section id="about-table">
    <div class="container">
        @if(ViewBag.AboutCount == 0)
        {
            <a asp-controller="About" asp-action="Create" type="button" class="btn btn-success">Create</a>
        }
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            @if(Model is not null)
            {
                <tbody>
                    <tr class="about-data">
                        <th scope="row">@Model.Id</th>
                        <td><img src="~/assets/img/@Model.Image" style="width:100px;height:100px;" /></td>
                        <td>@Model.Heading</td>
                        <td>@TruncateText(Model.Description, 10)</td>
                        <td>@Model.CreatedDate</td>
                        <td>
                            <a type="button" asp-controller="About" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Edit</a>
                            <form method="post" asp-controller="About" asp-action="Delete" asp-route-id="@Model.Id">
                                <button data-id="@Model.Id" class="btn btn-danger btn-sm delete-about-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</section>

@functions {
    public string TruncateText(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLength)
        {
            return text;
        }
        return text.Substring(0, maxLength) + "...";
    }
}

@section js {
    <script src="~/Admin/assets/js/delete.js"></script>
}


